@import "tailwindcss";

@theme {
  --color-brand-text-dark: rgb(49 49 39);
  --color-brand-text-light: rgb(159 162 143);
  --color-brand-green-dark: rgb(43 58 17);
  --color-brand-green-light: rgb(152 154 133);
  --color-brand-cream: rgb(254 251 246);
}

html,
body {
  @apply bg-brand-green-dark;
}

.family-roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.family-playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.image-gallery-icon {
  @apply text-brand-text-dark;
  filter: none;
}

.image-gallery-icon:hover,
.image-gallery-icon:focus {
  @apply text-brand-text-dark;
  @apply outline-0;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 35rem;
}

.image-gallery-content.fullscreen .image-gallery-slide .image-gallery-image {
  max-height: calc(100dvh - 80px);
}

.image-gallery-svg {
  @apply !h-16;
}
